<!-- <!DOCTYPE html>
<html> -->
<!-- <head>
	<link rel="stylesheet" href="/../../assets/stylesheets/jquery-ui.min.css">
	<link rel="stylesheet" href="/../../assets/stylesheets/live-audience-view.css">
	<script src="/../../assets/javascripts/jquery.js"></script>
	<script src="/../../assets/javascripts/jquery-circle-progress-1.1.2/dist/circle-progress.js"></script>
</head> -->
<!-- <body> -->
	<div class="clueless-div">
		<form class="clueless-form">
			<input class="clueless-input" type="text" placeholder="Clueless?"><br>
		</form>
		<button class="clueless-button">?</button>
		<div id="circle" class="hidden"><strong></strong></div>
	</div>


<!-- <script src="/../../assets/javascripts/jquery-ui.min.js"></script>
<script src="/../../assets/javascripts/cluelessButton.js"></script> -->
<!-- </body>
</html> -->