<h1 style="text-align:center">Class Name</h1>	
  <div class="clueless-div">
		<form class="clueless-form">
			<textarea id="styled" class="clueless-input" type="text" placeholder="Have a question?"></textarea>
			<input class="user-id-input" type="hidden" value="<%= current_user.id %>">
		<button class="clueless-button" id="clueless"><div><i class="glyphicon glyphicon-question-sign" style="color:white; font-size:20em; text-align:center;"></i></div></button>
		</form>
		<div id="circle" class="hidden-button"><strong></strong></div>
	</div>

<%= form_for @question, url: {action: 'create'} do |f| %>
	<% end %>
<%= javascript_include_tag "cluelessButton" %>