<h3>Display an individual question</h3>

<table class='qTable'>
<td>
	<button id="upvote" type="button" class="btn btn-success btn-sm btn-upvote"><div style="font-size:1.5em"<b><%= @upvotes %></b></div></button>
<br>
	<button id="downvote" type="button" class="btn btn-danger btn-sm"><div style="font-size:1.5em"<b><%= @downvotes %></b></div></button>
</td>

<td>
	Question Content: <%= @content %>
</td>
</table>


<style>
	.qTable{
	font-size:1.5em;
	}
</style>

<script>
  $('#upvote').click(function(){
  	console.log("upvote clicked")
  });

  $('#downvote').click(function(){
  	console.log("downvote clicked")
  });

</script>

