<!-- <div class="container" id="signin">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> --> <!-- /container -->

<div class="container" id="signin">
  <div class="form">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
    <h3>Have an Account?</h3>
  </div>
  <div class="modal-body">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
        <li><a href="#create" data-toggle="tab">Create Account</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="login">
          <form class="form-horizontal" action='' method="POST">
            <fieldset>
              <div id="legend">
                <legend class="">Login</legend>
              </div>    
              <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Username</label>
                <div class="controls">
                  <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                </div>
              </div>
              
              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                </div>
              </div>
              
              
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success" id="login-account">Login</button>
                </div>
              </div>
            </fieldset>
          </form>                
        </div>
        <div class="tab-pane fade" id="create">
          <form id="tab">
            <label>Email</label>
            <input type="text" value="" class="input-xlarge">
            <label>Password</label>
            <input type="password" value="" class="input-xlarge">
            <div>
              <button class="btn btn-success" id="new-account">Create Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>