.live-presenter-container {
  /*width: 1000px;*/
  /*float: left;*/
  width: 100%;
  height: 1000px;
  /*width: 1000px;*/
/*  margin-left: auto;
  margin-right: auto;*/
  padding-top: 50px;
}

#pointer {
  height: 550px;
  width: 800px;
  margin-left: 100px;
}

.start-lecture-button {
  height: 80px;
  width: 150px;
  margin-top: auto;
  margin-left: 45%;
  /*margin-right: auto;*/
}